body {
	font-family: 'DM Sans', sans-serif;
	max-width: 800px;
	margin: auto;
	overflow-y: scroll;
}
a {
	color: purple;
}

@media only screen and (min-width: 500px) {
	nav {
		float: left;
		width: 140px;
		height: 100%
	}
	main {
		margin: 50px 0 120px 160px;
	}
}