<head>
	<title>{{page.title}} - {{page.section}}</title>
	<meta charset="utf-8">
	<meta name="og:site_name" content="{{page.section}}">
	<meta name="og:title" content="{{page.title}}">
	<meta name="og:description" content="{{page.description}}">
	<meta name="og:image" content="{{page.icon}}">
	<meta name="theme-color" content="{{page.color}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="icon" href="{{page.icon}}">
	<link href="/assets/fonts.css" rel="stylesheet">
	<link href="/assets/page.css" rel="stylesheet" media="screen">
	{% if page.use_math %}<link href="/assets/math.css" rel="stylesheet">{% endif %}
</head>