/* Tuffy */
@font-face {
	font-family: "Tuffy";
	font-weight: normal;
	src: url("/assets/fonts/tuffy/r.ttf");
	font-display: fallback;
}
@font-face {
	font-family: "Tuffy";
	font-weight: normal;
	font-style: italic;
	src: url("/assets/fonts/tuffy/ri.ttf");
	font-display: fallback;
}
@font-face {
	font-family: "Tuffy";
	font-weight: bold;
	src: url("/assets/fonts/tuffy/b.ttf");
	font-display: fallback;
}
@font-face {
	font-family: "Tuffy";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/Tuffy/bi.ttf");
	font-display: fallback;
}
@font-face {
	font-family: "Tuffy Script";
	font-weight: normal;
	src: url("/assets/fonts/tuffy/ss-r.ttf");
	font-display: fallback;
}
@font-face {
	font-family: "Iosevka";
	src:
		url('https://cdn.jsdelivr.net/gh/kaushalmodi/iosevka-mirror@v1.14.1/woff2/iosevka-ss08-regular.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/kaushalmodi/iosevka-mirror@v1.14.1/woff/iosevka-ss08-regular.woff') format('woff')
}