/* Gravity */
@font-face {
	font-family: "Gravity";
	font-weight: normal;
	src: url("/assets/fonts/gravity/r.otf");
}
@font-face {
	font-family: "Gravity";
	font-weight: normal;
	font-style: italic;
	src: url("/assets/fonts/gravity/ri.otf");
}
@font-face {
	font-family: "Gravity";
	font-weight: bold;
	src: url("/assets/fonts/gravity/b.otf");
}
@font-face {
	font-family: "Gravity";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/gravity/bi.otf");
}
/* Libertine */
@font-face {
	font-family: "Linux Libertine";
	font-weight: normal;
	src: url("/assets/fonts/libertine/r.ttf");
}
@font-face {
	font-family: "Linux Libertine";
	font-weight: normal;
	font-style: italic;
	src: url("/assets/fonts/libertine/ri.ttf");
}
@font-face {
	font-family: "Linux Libertine";
	font-weight: bold;
	src: url("/assets/fonts/libertine/b.ttf");
}
@font-face {
	font-family: "Linux Libertine";
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/libertine/bi.ttf");
}
/* Monospace font */
@font-face {
	font-family: "Inconsolata";
	src: url("/assets/fonts/inconsolata.ttf");
}
/* Cursive */
@font-face {
	font-family: "Chilanka";
	src: url("/assets/fonts/chilanka.ttf");
}