---
---
:root {
	--a-color: mediumvioletred;
	--fg-color: black;
	--bg-color: white;
	--mark-color: khaki;
	--codeb-color: #f2f2f2;
	--codeb-comment: mediumvioletred;
}

@media screen {
	body {
		background-color: var(--bg-color);
		color: var(--fg-color);
	}
}

body {
	font-family: "Gravity", "Helvetica", "Noto Sans", "Arial", sans-serif;
	margin: auto;
	max-width: 800px;
	overflow-y: scroll;
	padding: 5px
}
.curs {
	font-family: "Chilanka", "Comic Neue", "Comic Sans", cursive;
}
code, pre:not(code pre) {
	font-family: "Inconsolata", "Lucida Console", monospace;
	background-color: var(--codeb-color);
	padding: 1px 6px;
	font-size: 1.25em;
}
mark code, mark pre:not(code pre) {
	background-color: unset;
}
code.block,
pre.block {
	display: block;
	margin: 0.25em 0 0.25em 2em;
	padding: 0.25em 1em;
	border-left: 1px solid var(--fg-color);
	.comment {
		color: var(--codeb-comment);
	}
	.comment::before {
		content: "// ";
	}
}
main {
	margin-bottom: 5em;
}
a {
	color: var(--a-color);
	text-decoration: none;
}
h1, h2 {
	margin-bottom: 0;
}
h1[id]::before, h2[id]::before, h3[id]::before {
	content: attr(id) ". ";
}
.hicon {
	float: left;
	margin: 8px;
}

img { max-width: 50%; }
img.pad { margin: 20px; }
img.big { max-height: 100%; max-width: 100%; }
img.small { max-width: 25%; }
img.sdw { 
	background-color: inherit;
	box-shadow: 5px 5px var(--fg-color);
	margin: 5px;
}

.math {
	font-family: "Linux Libertine", "Times New Roman", "Noto Serif", serif;
	font-size: 1.25em;
}
span.math {
	display: inline-block;
}
.center {
	text-align: center;
}
mark { background-color: var(--mark-color); }
mark.note {
	display: block;
	padding: 10px;
	a {
		color: inherit;
		text-decoration: underline;
		font-weight: bold;
	}
}
footer {
	border-top: 1px solid var(--fg-color);
	padding: 0.2em;
	clear: both;
}
.cl { clear: both; }
.fr { float: right; }
.fl { float: left; }

table {
	border-collapse: collapse;
	margin: 0;
	caption-side: top;
	caption {
		font-weight: bold;
		padding: 0.6em;
	}
	td, th {
		padding: 0.6em;
		border: 1px solid var(--fg-color);
	}
}

details {
	border: 1px solid var(--fg-color);
	padding: .5em;
	margin: .5em 0;
	summary {
		font-weight: bold;
	}
}
details[open] summary {
	margin-bottom: .5em;
}

hr {
	border: none; 
	border-top: 1px solid var(--fg-color);
}

.gallery {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 10px;
	a {
		display: flex;
		max-height: 300px;
		max-width: calc(50% - 10px);
		align-items: center;
		justify-content: center;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--a-color: hotpink;
		--fg-color: #e6e6e6;
		--bg-color: #222;
		--mark-color: gold;
		--codeb-color: #2b2b2b;
		--codeb-comment: hotpink;
	}
	img.invertible {
		filter: unquote("invert()");
	}
	img.sdw {
		box-shadow: none;
	}
}