body {
	font-family: "Gravity", "Helvetica", "Noto Sans", "Arial", sans-serif;
	max-width: 800px;
	margin: auto;
	overflow-y: scroll;
}
.curs {
	font-family: "Chilanka", "Comic Neue", "Comic Sans", cursive;
}
code, pre {
	font-family: "Inconsolata", "Lucida Console", monospace;
}
main {
	margin-bottom: 5em;
}
a {
	color: unset;
}
h1, h2 {
	margin-bottom: 0;
}
h1, h2, h3 {
	clear: both;
}
.hicon {
	float: left;
	margin: 8px;
}
img.scrot.big {
	max-width: 100%;
	max-height: 100%;
}
img.small {
	max-width: 25%;
}
img:not(.big):not(.small) {
	max-width: 50%;
}
img {
	margin: 20px;
}
div.center {
	text-align: center;
}
mark.note {
	display: block;
	background-color: khaki;
	padding: 10px;
}
footer {
	border-top: 1px solid black;
	padding: 0.2em;
}
.fr { float: right; }
.fl { float: left; }

@media only screen and (max-width:795px) {
	body {
		padding: 5px;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	mark.note {
		background-color: gold;
	}
	footer {
		border-color: white;
	}
	img.invertible {
		filter: invert();
	}
}