---
---
:root {
	--a-color: darkviolet;
	--fg-color: black;
	--bg-color: white;
}

@media (prefers-color-scheme: dark) {
	:root {
		--a-color: violet;
		--fg-color: #e6e6e6;
		--bg-color: #222;
	}
	mark.note {
		background-color: gold;
	}
	footer {
		border-color: white;
	}
	img.invertible {
		filter: unquote("invert()");
	}
}

@media screen {
	body {
		background-color: var(--bg-color);
		color: var(--fg-color);
	}
}

body {
	font-family: "Gravity", "Helvetica", "Noto Sans", "Arial", sans-serif;
	margin: auto;
	max-width: 800px;
	overflow-y: scroll;
	padding: 5px
}
.curs {
	font-family: "Chilanka", "Comic Neue", "Comic Sans", cursive;
}
code, pre {
	font-family: "Inconsolata", "Lucida Console", monospace;
	background-color: color-mix(in srgb, var(--bg-color) 90%, #808080);
	padding: 1px 6px;
}
main {
	margin-bottom: 5em;
}
a {
	color: var(--a-color);
	text-decoration: none;
}
h1, h2 {
	margin-bottom: 0;
}
.hicon {
	float: left;
	margin: 8px;
}

img { max-width: 50%; }
img.pad { margin: 20px; }
img.big { max-height: 100%; max-width: 100%; }
img.small { max-width: 25%; }

.math {
	font-family: "Linux Libertine", "Times New Roman", "Noto Serif", serif;
	font-size: 1.25em;
}
span.math {
	display: inline-block;
}

.center {
	text-align: center;
}
mark.note {
	background-color: khaki;
	display: block;
	padding: 10px;
	a {
		color: inherit;
		text-decoration: underline;
		font-weight: bold;
	}
}
footer {
	border-top: 1px solid var(--fg-color);
	padding: 0.2em;
	clear: both;
}
.cl { clear: both; }
.fr { float: right; }
.fl { float: left; }

table {
	border-collapse: collapse;
	margin: 0;
	caption-side: top;
	caption {
		font-weight: bold;
		padding: 0.6em;
	}
}
td, th {
	padding: 0.6em;
	border: 1px solid var(--fg-color);
}

details {
	border: 1px solid var(--fg-color);
	padding: .5em;
	margin: .5em 0;
	summary {
		font-weight: bold;
	}
}
details[open] summary {
	margin-bottom: .5em;
}